<form>
	<div class="form-group">
		<label for="campaignName">Campaign Name</label>
		<input ng-model="newCa.name" type="text" class="form-control" id="campaignName" placeholder="Enter a name for this campaign">
	</div>

	<div class="form-group">
		<label for="totalEmails">Emails to Send</label>
		<input ng-model="newCa.totalEmails" type="number" class="form-control" id="totalEmails" placeholder="How many emails would this campaign contain?">
	</div>
</form>

<div class="row">
	<div class="col-xs-12">
		<button ng-click="campaigns.save(newCa); newCa = '';" class="btn btn-success">Create</button>
		<a class="btn btn-link">Cancel</a>
	</div>
</div>
