<template name="opensPieChart">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div id="opensPieChart" style="height: 240px; width: 100%"></div>
		</div>

		<div class="col-xs-12 col-sm-6">
			{{#with openData}}
				<h4>{{pct}}% <small>of all recipients opened so far ({{total}} people).</small></h4>
			{{/with}}
			{{#with clickData}}
				<h4>{{pct}}% <small>clicked a link ({{total}} people).</small></h4>
			{{/with}}

			{{#with unsubData}}
				<h4>{{pct}}% <small>unsubscribed ({{total}} people).</small></h4>
			{{/with}}
			{{#with spamData}}
				<h4>{{total}} <small>people marked as spam ({{pct}}%).</small></h4>
			{{/with}}

			{{#with bounceData}}
				<h4>{{total}} <small>emails were bounced ({{pct}}%).</small></h4>
			{{/with}}
		</div>
	</div>
</template>
