<template name="opensPieChart">
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div id="opensPieChart" style="height: 240px; width: 100%"></div>
		</div>

		<div class="col-xs-12 col-sm-6">
			{{#with openData}}
				<strong style="font-size: 20px;">{{pct}}%</strong> of all recipients opened so far ({{total}} people).<br />
			{{/with}}
			{{#with clickData}}
				<strong style="font-size: 20px;">{{pct}}%</strong> clicked a link ({{total}} people).<br />
			{{/with}}

			{{#with unsubData}}
				<strong style="font-size: 20px;">{{pct}}%</strong> unsubscribed ({{total}} people).<br />
			{{/with}}
			{{#with spamData}}
				<strong style="font-size: 20px;">{{total}}</strong> people marked as spam ({{pct}}%).<br />
			{{/with}}

			{{#with bounceData}}
				<strong style="font-size: 20px;">{{total}}</strong> emails were bounced ({{pct}}%).<br />
			{{/with}}
		</div>
	</div>
</template>
